<div class="row">
	<div class="col-md-4">
		<app-datepicker></app-datepicker>
	</div>
	<div class="col-md-2 offset-6" style="text-align: right">
		<button type="button" class="btn btn-primary">Add New</button>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<table class="table table-light table-hover table-striped">
			<thead class="thead-light">
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Date</th>
				<th>Amount($)</th>
				<th>Action</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>1</td>
				<td>Steve Smith</td>
				<td>2018-10-10</td>
				<td>100</td>
				<td>
					<button type="button" class="btn btn-warning">Edit</button>
					<button type="button" class="btn btn-danger">Remove</button>
				</td>
			</tr>
			<tr>
				<td>2</td>
				<td>David Warner</td>
				<td>2018-10-10</td>
				<td>100</td>
				<td>
					<button type="button" class="btn btn-warning">Edit</button>
					<button type="button" class="btn btn-danger">Remove</button>
				</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Joe Root</td>
				<td>2018-10-10</td>
				<td>100</td>
				<td>
					<button type="button" class="btn btn-warning">Edit</button>
					<button type="button" class="btn btn-danger">Remove</button>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
