<div class="modal-header">
	<h4 class="modal-title pull-left">{{title}}</h4>
	<button type="button" class="close pull-right" aria-label="Close" (click)="close()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<form>
		<div class="form-group row">
			<label for="name" class="col-sm-4 col-form-label">Name</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" id="name" name="name" placeholder="Expanse name" [(ngModel)]="item.name">
			</div>
		</div>

		<div class="form-group row">
			<label for="amount" class="col-sm-4 col-form-label">Spent Money</label>
			<div class="col-sm-8">
				<input type="number" class="form-control" id="amount" name="amount" placeholder="" [min]="1" [(ngModel)]="item.amount">
			</div>
		</div>

		<div class="form-group row">
			<label for="date" class="col-sm-4 col-form-label">Date</label>
			<div class="col-sm-8">
				<input type="text" readonly class="form-control-plaintext" name="date" id="date" [(ngModel)]="item.date">
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-success" (click)="save()">Save</button>
	<button type="button" class="btn btn-warning" (click)="close()">Cancel</button>
</div>

