<div class="row">
	<div class="col-md-6 col-sm-12">
		<input type="text"
		       placeholder="Daterangepicker"
		       class="form-control"
		       bsDaterangepicker
		       [(ngModel)]="dateRange"
		       (onHidden)="rangeHiddenHandler()"
		       [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
		>
	</div>
	<div class="col-md-6 text-center font-weight-bold" style="line-height: 38px">
		<span>Total sum:</span>
		{{calculateTotal()|currency:'₴'}}
	</div>
	<div class="col-md-12">
		<table class="table table-dark table-hover table-striped">
			<thead class="thead-light">
			<tr>
				<th>Name</th>
				<th>Date</th>
				<th>Amount(₴)</th>
			</tr>
			</thead>
			<tbody>
			<tr *ngFor="let item of list">
				<td>{{item.name}}</td>
				<td>{{item.date}}</td>
				<td>{{item.amount|currency:'₴'}}</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>